NEXT_PUBLIC_SIGNATURE_TEXT=Welcome. By signing this message you are verifying your digital identity. This is completely secure and does not cost anything!
NEXT_PUBLIC_API_URL=https://dao-hedera-api.varmeta.tech
NEXT_PUBLIC_PRIVATE_KEY=302e020100300506032b65700422042007de629bf5d2850e1b9f421ab31ef76b0b6cf8583ed7ec120a0eace0795dae32
NEXT_PUBLIC_ACCOUNT_ID=0.0.63585
