NEXT_PUBLIC_SIGNATURE_TEXT=Welcome. By signing this message you are verifying your digital identity. This is completely secure and does not cost anything!
NEXT_PUBLIC_API_URL=https://dao-hedera-api.varmeta.tech
NEXT_PUBLIC_PRIVATE_KEY=
NEXT_PUBLIC_ACCOUNT_ID=
